name: Build CLI

on:
  push:
    branches: [master, main]
    paths:
      - "**.go"

jobs:
  build:
    name: Build

    runs-on: ubuntu-latest

    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.x
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Build libvips
        run: |
          sudo chmod +x ./preinstall.sh
          sudo ./preinstall.sh

      - name: Build
        run: go build
